<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="text1" value =""/>
    <add key="text2" value =""/>
    <add key="text3" value =""/>
    <add key="text4" value =""/>
    <add key="text5" value =""/>
    <add key="text6" value =""/>
    <add key="tabafterinput" value =""/>
    <add key="topmost" value =""/>
    </appSettings>
</configuration>